.sucplugin-btn {
    padding: 8px 15px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sucplugin-btn:hover {
    background-color: #dedede;

}